[bumpversion]
current_version = 0.34.0
commit = True
tag = True
message = {current_version} -> {new_version}
tag_name = v{new_version}
tag_message = {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
